#<source>
#  type forward
#  port 24224
#</source>

#<match {game,game_stg,game_dev}.**>
#    type forward
#    buffer_type file
#    buffer_path /var/log/td-agent/game/buffer/*.buffer
#    buffer_chunk_limit 6m              # メモリに乗せておく量
#    buffer_queue_limit 3072            # 末送信の量
#    flush_interval 10s                 # 転送時間間隔
#    queued_chunk_flush_interval 10s    # 転送時間間隔
#    <server>
#      host 210.140.137.82 # KPIサーバのIP
#      port 24224
#   </server>
#</match>
